<div class="top-container">
  <div class="main-section">
    <div class="main-section-cover">
      <div class="main-content">
      <h2>一度きりの人生、思いっきり楽しもう</h2>
      <h1>MY BUCKET LIST</h1>
      </div>
    </div>
  </div>
  <div class="about-section">
    <div class="about-content">
      <div class="section-title">
        <h3>What is BUCKET LIST ?</h3>
      </div>
      <p>バケットリストとは"自分が死ぬまでにしたいことのリスト"です。<br />
      したいことはたくさんあるのに、気づいたら時間だけが過ぎていく。<br />
      「あの時、こうしてれば良かった..」<br />
      「もっと前から準備をしておけばよかった..」<br />
      そんな後悔をしないために、<br />あなたも"MY BUCKET LIST"でバケットリストを作ってみませんか。<br />
      したいことをどんどん書き出して、自分の人生をもっと楽しみましょう。
      </p>
    </div>
  </div>
  <div class="feature-section">
    <div class="feature-content">
      <div class="section-title-container">
        <h3>MY BUCKET LISTでできること</h3>  
        <p>MY BUCKET LIST の特徴は、<span class ="important">みんなとコミュニケーション</span>ができるところです。</br >
        みんなのシェアリストを見てモチベーションを上げたり、</br >
        達成のために必要なことをみんなに質問して、アドバイスをもらったりしましょう。</br >
        </p>
      </div>
      <div class="feature-item-container">
        <div class="feature-info">
          <div class="feature-description">
            <h4>Bucket List</h4>
            <p>自分のbukcet listを作成することができます。</br >
            リスト作成時に公開設定を公開にすることで、<br />みんなに作成したリストをシェアできます。</br >
            シェアされたリストは<span class ="important">"みんなのリスト"</span>で公開されているので、<br />みんなの目標をのぞいてみましょう。</br >
            シェアしたくないリストは非公開設定にできるので、<br />安心して利用できます。
            </p>
          </div>
        </div>
        <div class="feature-image-container">
          <%= image_tag "feature1.png", class: "feature-image" %>
        </div>
      </div>
      <div class="feature-item-container">
        <div class="feature-info"> 
          <div class="feature-description">
            <h4>達成ルーム</h4>
            <p>ここでは達成記録が確認できます。</br >
            写真や文章を追加して達成レポを作成してみましょう。</br >
            達成記録には<span class ="important">"おめでとう"</span>機能がついているので、</br >
            素敵な達成記録にはおめでとうボタンを押して<br />お祝いをすることもできます。</br >
            喜びを分かち合うことで、モチベーションもアップできます。</br >
            達成レポートも公開設定ができるので、<br />安心して利用できます。</br >
            </p>
          </div>
        </div>
        <div class="feature-image-container">
          <%= image_tag "feature2.png", class: "feature-image" %>
        </div>
      </div>
      <div class="feature-item-container">
        <div class="feature-info">
          <div class="feature-description">
            <h4>アドバイス広場</h4>
            <p>ここでは目標達成に向けて知りたいことを気軽に質問できます。</br >
            みんなに質問をしてアドバイスをもらいましょう。</br >
            自分が既に達成した内容に関する質問は、</br >是非先輩としてアドバイスをしてあげましょう。</br >
            あなたの体験がみんなの貴重な情報源になるかもしれません。</br >
            </p>
          </div>
        </div>
        <div class="feature-image-container">
          <%= image_tag "feature3.png", class: "feature-image" %>
        </div>
      </div>
    </div>
  </div>
</div>